backend/env/
backend/__pycache/
backend/*.idea
backend/.env



front_end/movie-recommendation-engine-app/DS_Store
front_end/movie-recommendation-engine-app/node_modules
front_end/movie-recommendation-engine-app/build
front_end/movie-recommendation-engine-app/.svelte-kit
front_end/movie-recommendation-engine-app/package
front_end/movie-recommendation-engine-app/.env
front_end/movie-recommendation-engine-app/.env.*
front_end/movie-recommendation-engine-app/!.env.example
front_end/movie-recommendation-engine-app/vite.config.js.timestamp-*
front_end/movie-recommendation-engine-app/vite.config.ts.timestamp-*
front_end/movie-recommendation-engine-app/.idea
front_end/movie-recommendation-engine-app/.vscode

*.iml
*.pyc
