annotated-types
anyio
bcrypt
click
h11
httptools
idna
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
typing_extensions
uvloop
watchfiles
websockets
psycopg2-binary==2.9.1
fastapi==0.68.0
uvicorn==0.15.0
SQLAlchemy==1.4.30
passlib
