annotated-types
anyio
bcrypt
click
fastapi
h11
httptools
idna
psycopg2
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
uvloop
watchfiles
websockets
python-dotenv
